// .eslintrc
{
  parser: "babel-eslint",
  "extends": "airbnb",
  "plugins": [
  "react",
  "jsx-ally",
  "import"
  ],
  "rules": {
  "max-len": [1, 120, 2, {ignoreComments: true}],
  "prop-types": [0],
  "no-console": 1,
  "react/jsx-filename-extension": [1,{"extensions":["js","jsx"]}]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
